// COLORS
$col-dark-blue: #2d314d;
$col-lime-green: #31d35c;
$col-cyan: #2bb7da;

// NEUTRAL
$col-gray-1: #9698a6;
$col-gray-2: #f3f4f6;
$col-gray-3: #fafafa;
$col-white: #ffffff;

// TYPOGRAPHY
$ff-primary: "Public Sans", sans-serif;

$fw-300: 300;
$fw-400: 400;
$fw-700: 700;
